<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example: Not Found</title>
    <link rel=stylesheet href="site.css">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XE2R1FCG81"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XE2R1FCG81');
  </script>

  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>Sorry, we couldn't find that! Check out the <a href="./">home page</a>?</p>
{{ template "footer" }}
    </div>
  </body>
</html>
